.root {
    -fx-font-size: 23;
}

.button{
    -fx-background-color:greenyellow;

}
.button:hover{
    -fx-background-color: yellow;
}
#messageField{
    -fx-background-color: aqua;
    -fx-control-inner-background: green;
    -fx-text-fill: yellow;
}
#textField{
    -fx-background-color: aquamarine;
    -fx-text-fill: blue;
}